
.ipynb_checkpoints/DimensionReduction_Exercise-checkpoint.ipynb
.ipynb_checkpoints/DimensionReduction_Exercise_Solution-checkpoint.ipynb
.ipynb_checkpoints/Visualisation_Exercise-checkpoint.ipynb
.ipynb_checkpoints/Visualisation_Exercise_Solution-checkpoint.ipynb
